.title{
    font-size: 80px;
    background: #FF69E6;
    background: linear-gradient(to right, #FF69E6 0%, #730099 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mission{
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 70px;
line-height: 85px;
color: #730099;
padding: 30px;
}

.subh{
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #CC99FF;
  }

.bodyT{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.205em;
    color: #FFFFFF;
}

.button {
    background: #730099;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    width: 150px;
    position: relative;
    float: right;
    text-decoration: none;
    border: none;
}

.officersT {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.505em;
    color: #CC99FF;
    text-align: center;
}

.namesT{
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 48px;
    color: #730099;
  }

  .container-fluid{
    padding-top: 100px;
  }

.design_pill{
    margin: 50px;
    padding: 80px;
}

.position{
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 48px;
    color: #730099;  
}