.title{
    font-size: 80px;
    background: #FF69E6;
    background: linear-gradient(to right, #FF69E6 0%, #901499 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.service-item-title {
    padding-top: 10px;
}

.service-item-text {
    text-align: left;
    display: inline;
    padding: 0;
}

#service-item:hover{
    color: blue;
}